<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="mongoConn" value="mongodb://localhost/MasterLogs" />
    <add key="chaosAccount" value="2011309503" />
    <add key="mon_account" value="2011309303" />
    <add key="mon_startTime" value="2014-03-18 11:12" />
    <add key="mon_endTime" value="2014-03-18 11:15" />
    <add key="mon_lots" value="159" />
    <add key="mon_rate" value="3" />
    <add key="setting" value="setting.txt" />
  </appSettings>
  <log4net>
    <root>
      <appender-ref ref="UdpAppender"/>
    </root>
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <remoteAddress value="127.0.0.1" />
      <remotePort value="7071" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
    </appender>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPumpService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="200000000"
          maxReceivedMessageSize="200000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2000000000"
            maxArrayLength="2000000000" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPumpService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:12345/" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPumpService" contract="PumpingService.IPumpService"
        name="BasicHttpBinding_IPumpService" />
      <endpoint address="http://localhost:12345/PumpService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IPumpService" contract="PumpingService.IPumpService"
        name="WSHttpBinding_IPumpService">
        <identity>
          <userPrincipalName value="SUPWINDEV-PC\Spring.jiang" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>